* * * * * root /usr/local/bin/php /var/www/artisan schedule:run >> /var/www/storage/logs/laravel.log 2>&1
* * * * * root echo "Hello world">> /var/www/storage/logs/laravel.log
## new line just in case :) or else cron will not start
